<div class="content-form">
  <form [formGroup] = "profileForm" (ngSubmit)="submitForm()" class="form">
    <div class="item-form">
      <label> Name </label>
      <input inputmode = "text" placeholder = "name" formControlName = "name">
      <div *ngIf="profileForm.get('name')?.invalid && profileForm.get('name')?.touched">
        <small class="error" *ngIf="profileForm.get('name')?.hasError('required')">Họ tên không được để trống</small>
        <small class="error" *ngIf="profileForm.get('name')?.hasError('minlength')">Họ tên ít nhất là 6 ký tự</small>
      </div>
    </div>
    <div class="item-form">
      <label> Phone </label>
      <input inputmode = "text" placeholder = "Phone" formControlName = "phone">
      <div *ngIf="profileForm.controls['phone'].errors">
        <small class="error" *ngIf="profileForm.get('phone')?.hasError('required')">Số điện thoại không được để trống</small>
        <small class="error" *ngIf="profileForm.get('phone')?.hasError('CustomValidatePhone')">Số điện thoại sai định dạng</small>
      </div>
    </div>
    <div class="item-form">
      <label> Birth Day </label>
      <input inputmode = "text" placeholder = "Birth Day" formControlName = "birtDay">
      <div *ngIf="profileForm.controls['name'].errors">
        <small class="error" *ngIf="profileForm.get('name')?.hasError('required')">Ngày sinh không được để trống</small>
      </div>
    </div>
    <button class="button-submit" type="submit">submit form</button>
  </form>
</div>
