<div class="content-form">
  <form [formGroup] = "dataForm" class="form">
    <div class="item-form">
      <label> Name </label>
      <input inputmode = "text" placeholder = "name" formControlName = "name">
      <div *ngIf="submited && dataForm.get('name')?.errors">
        <app-error-message *ngIf="dataForm.get('name')?.hasError('required')" [errorMessage]="'Họ tên không được để trống'"></app-error-message>
        <app-error-message *ngIf="dataForm.get('name')?.hasError('minlength')" [errorMessage]="'Họ tên ít nhất là 6 ký tự'"></app-error-message>
      </div>
    </div>
    <div class="item-form">
      <label> Phone </label>
      <input inputmode = "text" placeholder = "Phone" formControlName = "phone">
      <div *ngIf="submited && dataForm.get('phone')?.errors">
        <app-error-message *ngIf="dataForm.get('phone')?.hasError('required')" [errorMessage]="'Số điện thoại không được để trống'"></app-error-message>
        <app-error-message *ngIf="!dataForm.get('phone')?.hasError('required') && dataForm.get('phone')?.hasError('invalidPhone')" [errorMessage]="'Số điện thoại sai định dạng'"></app-error-message>
      </div>
    </div>
    <div class="item-form">
      <label> Birth Day </label>
      <input type="date" inputmode = "text" placeholder = "Birth Day" formControlName = "birthDay">
      <div *ngIf="submited && dataForm.get('birthDay')?.errors">
        <app-error-message *ngIf="dataForm.get('birthDay')?.hasError('required')" [errorMessage]="'Ngày sinh không được để trống'"></app-error-message>
      </div>
    </div>
    <button class="button-submit btn btn-primary btn-sm" (click)="submitForm()">submit form</button>
  </form>
</div>
